.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  

main{
    background-color:#eeeeee ;
    height: 83vh;
    padding-top: 5vh;
}

.box{
    margin: 0px auto;
    width: 40vw;
    height: 75vh;
    border-radius: 2em;
    padding: 2px;
    background-color: white;
    border: 1px solid black;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5.5fr 1fr 1.6fr 1.2fr;
}

div{
    overflow: hidden;
}
.imageBox{
    overflow: hidden;
   display: flex;
   justify-content: center;
}
.imageBox>img{
    height: 100%;
    width: 60%;
}
/* div{
    border: 1px solid black;
} */

.title-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px;
}
.line{
    height: 2px;
    margin-top: 3px;
    background-color: rgb(211, 175, 245);
}

.title-desc{
    padding-top: 4px;
    margin-top: 10px;
    border-top: 1px solid violet;
    display: grid;
    grid-template-columns: 2fr 5fr;
    justify-content: center;
}

.options{
    display: grid;
    align-items: center;
    /* border: 1px solid blue; */
    padding: 0 1em;
    justify-content: center;
    grid-template-columns: 1.5fr 1.5fr 2fr ;
    gap: 1em;

}

.options>div{
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.options>img{
    height: 30%;
}

.update{
    display: flex;
    justify-content:center;
    align-items: center;
}
.update>div{
 height: 60%;
 width: 100%;
 padding: 4px;
 /* background-color: #98d8e1; */
 border-radius: 10px;  
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.button-box{
    /* height: ; */
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    font-size: 1.2em;
    align-content: center;
    border-radius: 10px;
}
.button-box button{
    font-weight: 600;
    background-color: transparent;
    border: none;

}

.button-box button,.button-box img{
    height: 80%;
}

.update img{
    height: 3em;
    object-fit: cover;
    object-position: center;
    /* background-color: black; */
}
.buy-color{
    margin-left: 3em;
}

.upColor>div{
    background-color: #98d8e1;
}
.buy-color>div{
    height: 100%;
    background-color: rgb(37, 146, 104);
    color: #eeeeee;
}

.buy-color button{
    /* align-items: end; */
    color: white;
}
.buy-color .button-box{
    align-items: end;
    /* font-size: 40px; */
}

.buy-color .button-box button{
    font-size: 30px;
    font-weight: 500;
}

.cart img{
    height: 50% ;
}

.upCart>div{
    background-color: gold;
}