<main>
    <div class="profileDetails">
        <section class="section1">
            <img src="assets/e-1.jpg" alt="">
            <button><span>Edit</span></button>
        </section>
        <section class="section2">
            <div class="details">
                <p>User Name:</p>
            <p>{{user?.username}}</p>
            <p>Name:</p>
            <p>{{user?.firstname}} {{user?.lastname}}</p>
            <p>Phone</p>
            <p>{{user?.phone}}</p>
            <p>Mohit</p>
            <p>Mohit</p>
            
            </div>
            <!-- <input type="text">
            <input type="text"><input type="text"> -->
        </section>
    </div>
</main>