<tr>
    <td class="item">
        <div class="d-flex">
            <img src="https://images.unsplash.com/photo-1601479604588-68d9e6d386b5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y2FuZGxlc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                alt="">
            <div class="pl-2">
                Suspended Heart Candles
                <div class="text-uppercase new"><span class="fas fa-star"></span>new</div>
                <div class="d-flex flex-column justify-content-center">
                    <div class="text-muted">Blue</div>
                    <div><a href="#"><span class="red text-uppercase"><span
                                    class="fas fa-comment pr-1"></span>add a comment</span></a>
                    </div>
                </div>
            </div>
        </div>

    </td>
    <td>120</td>
    <td class="d-flex flex-column"><span class="red">$21.40</span>
        <del class="cross">$30.00</del>
    </td>
    <td class="font-weight-bold">
        $249
        <div class="close">&times;</div>
        <button class="d-flex justify-content-end btn border">+ Add to cart</button>
    </td>
</tr>