<div class="navBox anim"> 
    <a routerLink="">HOME</a>
    <a routerLink="addproduct">Add Product</a>
    <div class="profile-cart">

    <div class="profile">
        <div class="profile-img"></div>
        
       <select name=""  class="">
        <option value="">profile</option>
        <option value="">All users</option>
        <option value="">New Product</option>
        <option value="">logout</option>
       </select>
        <!-- <img src="https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAxLzI3OS1wYWkxNTc5LW5hbS1qb2IxNTI5LnBuZw.png" alt="no image"> -->
    </div>
    
        <div class="cart">

            <a routerLink="carts" class="cart-green">Cart</a>
            <span>🛒</span>
        </div>
</div>

</div>