<div class="navbar">
    <app-logo />
    <a routerLink="" routerLinkActive="selected">Home</a>
    <a routerLink="addproduct"  routerLinkActive="selected" >Add product</a>
    <a routerLink="products/electronics/specificCategory"  routerLinkActive="selected" >Electronics</a>
    <a routerLink="products/jewelery/specificCategory"  routerLinkActive="selected" >Jewelery</a>
    <a routerLink="products/women's clothing/specificCategory"  routerLinkActive="selected" >Women's</a>
    <a routerLink="products/men's clothing/specificCategory"  routerLinkActive="selected" >Men's</a>
</div>